html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
}

/*UR CUSTOM CSSSSSSSSSSSS*/
.accordion{
    width: 100%;
}
.qf {
    display: grid;
    grid-template-columns: 40% 50%;
    margin: 2% 10%;
}
.qf input{
    grid-column-start: 2;
}
.qf label{
    grid-column-start: 1;
}
.queryfilter{
    max-width: 150px;
}
#query-table{
    width: 100%;
}
#qtype{
    margin:auto;
}
h2{
    margin-top: 15px;
}
h1{
    text-align: center;
}
form{
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
    margin: auto;   
}
td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px 15px;
    font-weight: normal;
}
th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px 15px;
    font-weight: bold;
}
.table-wrapper1{
    overflow-y: auto;
    align: center;
}
table{
    width: 100%;
}
#file-view-img{
    padding: 5px;
    display: block;
    margin: auto;
    width: 800px;
    text-align: center;
}
#attrview-wrapper{
    background-color: #d7ecff;
}

/*UR CUSTOM CSSSSSSSSSSSS*/
.add-shape{
    display: inline-block;
    margin: 10px;
    width: 40%;
}
#new-form-wrapper{
    background-color: aliceblue;
    margin: auto;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}